<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://besties.gg/u-a0941b9884e8fcb0/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>zvOLaXsr9qB/JHxoU8FkpdyYg7z/+A7LA0wdfCJcEnk=</string>
</dict>
</plist>
